body {
    background-color: #F4F6FF;
    color: #000000;
}

nav {
    background-color: #10375C;
    padding: 10px;
    margin-bottom: 30px;
    color: #F4F6FF;
}

nav a {
    background-color: #EB8317;
}

nav a:hover {
    background-color:#F3C623;
}