.londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
header {
    color: #1B6988;
}

header h1 {
    font-family: "Times New Roman", sans-serif;
}

header p {
    font-family: "Times New Roman", sans-serif;
}

nav {
    background-color: #041C58;
    padding: 10px;
    margin-bottom: 30px;
    color: #F4F6FF;
}

nav a {
    background-color: #F5A524;
}

nav a:hover {
    background-color: #FF667D;
}

footer {

    background-color: #9c6bdb;

    text-align-last: center;

}